.App {
  text-align: center;
  height: 100vh;
}

.App header {
  background-color: black;
  color: bisque;
  font-size: 25px;
  padding: 10px;
}

.App main {
  /*minus header's height*/
  height: calc(100vh - 53px);
  font-size: 17px;
  display: flex;
  background-image: url("/assets/background.jpg");
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}