html main .table-container .table-header, body main .table-container .table-header, html main .table-container .table-content .table-row, body main .table-container .table-content .table-row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 5fr) minmax(0, 5fr) minmax(0, 3fr) minmax(0, 3fr);
}

html {
  background-color: #494949;
  color: #6d6;
}

html, body {
  width: 100%;
  margin: 0;
  font-family: Avenir, sans-serif;
  min-height: 100%;
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

html header, body header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #777;
}

html header h1, body header h1 {
  margin: 0;
  padding: 15px;
}

html main, body main {
  height: 100%;
  display: flex;
  justify-content: center;
}

html main .table-container, body main .table-container {
  display: flex;
  width: calc(100% - 20px);
  flex-wrap: wrap;
  margin: 10px;
}

html main .table-container .table-header, body main .table-container .table-header {
  width: 100%;
  background-color: #777;
}

html main .table-container .table-content, body main .table-container .table-content {
  width: 100%;
}

html main .table-container .table-content .table-row, body main .table-container .table-content .table-row {
  width: 100%;
  background-color: #585858;
}

html main .table-container .table-content button, body main .table-container .table-content button {
  background-color: #777;
  border: none;
}

html main .table-container .table-content button span, body main .table-container .table-content button span {
  color: #6d6;
  padding: 0px;
}

html main .table-container .table-content button:hover, body main .table-container .table-content button:hover {
  transition: 0.16s ease-in;
  background-color: #696;
  cursor: pointer;
}

html main .table-container .table-content input, body main .table-container .table-content input {
  padding: 2px;
  border: none;
  background-color: #777;
  color: #6d6;
  margin: 5px;
}

html main .table-container span, body main .table-container span {
  padding: 6px;
}

@media screen and (min-width: 1200px) {
  html main, body main {
    width: 1200px;
  }
  html button, body button {
    margin: 5px 15px;
  }
}

@media screen and (max-width: 1199px) {
  html main, body main {
    width: 100%;
  }
  html button, body button {
    margin: 3px 5px;
  }
}

@media screen and (max-width: 768px) {
  html, body {
    font-size: 10px;
  }
  html button, body button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html button span, body button span {
    font-size: 7px;
  }
  html input, body input {
    font-size: 7px;
  }
}
